/*
light blue: #3498db;
dark blue: #2980b9;
*/


/*
--------------------
--------------------
BASIC SETUP
--------------------
--------------------
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    color: #575454;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*
--------------------
--------------------
REUSABLES
--------------------
--------------------
*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    letter-spacing: 1px;
    font-weight: 300;    
    font-size: 230%;
}

h2 {
    padding-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
}

h2:after {
    margin: 20px auto 0 auto;
    height: 5px;
    width: 130px;
    content: "  ";
    background-color: #3498db;
    display: block;
}

h3 {
    margin-bottom: 25px;
    letter-spacing: 1px;
    font-weight: 400;

}

section {
    padding-top: 55px;
}

.long-copy {
    line-height: 140%;
    margin-bottom: 40px;
}

.button:link,
.button:visited,
input[type="submit"] {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    margin: 0 15px;
    border: 1px solid #fff;
    border-radius: 500px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #3498db;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    display: inline-block;
}


.button:hover,
.button:active,
input[type="submit"] {
    background-color: #2980b9;
    border-color: #2980b9;
}

.button.btn-transparent:link, 
.button.btn-transparent:visited {
    background-color: transparent;
    color: #3498db;
    border-color: #3498db;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.button.btn-transparent:hover, 
.button.btn-transparent:active {
    background-color: #2980b9;
    color: #fff;
    border-color: #2980b9;
}


/*
--------------------
--------------------
HEADER SECTION
--------------------
--------------------
*/

header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.55)),to(rgba(0, 0, 0, 0.55))), url("../img/hero_img.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.55)), url("../img/hero_img.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.main-nav {
    margin: 10px 0;
    list-style: none;
    float: right;
}

.main-nav li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #e2e2e2;
    font-size: 105%;
    margin-right: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}


.hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 1140px;
    margin-left: 20px;
}

.hero-box h1 {
    color: #e2e2e2;
}


.main-nav a:link,
.main-nav a:visited {
    text-decoration: none;
    color: #fff;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

.main-nav a:hover,
.main-nav a:active {
    border-color: #3498db;
}


/* STICKY NAV: */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1000000000;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
}



.sticky .main-nav li {
    color: #4d4c4c;
    font-size: 90%;
}

.sticky .main-nav a:link,
.sticky .main-nav a:visited {
    color: #4d4c4c;
    padding-bottom: 5px;
}

.sticky .main-nav a:hover,
.sticky .main-nav a:active {
    border-color: #4d4c4c;
}


/* MOBILE NAV */
.mobile-nav-link {
    float: right;
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mobile-nav-link i {
    color: #fff;
    cursor: pointer;
}

.sticky .mobile-nav-link i {
    color: #4d4c4c;
}



/*
--------------------
--------------------
FEATURES SECTION
--------------------
--------------------
*/

.section-features {
    background-color: #d6d6d6;
}


i {
    color: #3498db;
    font-size: 250%;    
}


/*
--------------------
--------------------
COURSES SECTION
--------------------
--------------------
*/

.section-courses  {
    padding: 0;
    margin: 0;
}

.section-courses ul {
    list-style: none;
    width: 100%;
    
}

.section-courses li {
    display: table-cell;
    width: 25%;
    float: left;    
    padding: 0;
    margin: 0;
}

.section-courses figure {
    width: 100%;
    overflow: hidden;
    background-color: #000;
    padding: 0;
    margin: 0;
}

.section-courses img {
    width: 100%;
    height: auto;
    opacity: 0.7;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s
}

.section-courses img:hover {
    width: 100%;
    height: auto;
    opacity: 1;
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
}


/*
--------------------
--------------------
STEPS SECTION
--------------------
--------------------
*/

.section-howitworks {
    background-color: #fff;
}

.section-howitworks div:last-child {
    padding-bottom: 20px;
}

.howto-box:first-child {
    text-align: right;
}

.howto-box:last-child {
    padding-top: 70px;
}

.steps {
    margin-bottom: 40px;
}

.steps div {
    color: #2980b9;
    border: 1px solid #2980b9;
    border-radius: 500px;
    width: 50px;
    height: 50px;
    font-size: 180%;
    padding-top: 2px;
    text-align: center;
    margin-right: 15px;
    display: inline-block;
    float: left;
}

.steps p {
    font-size: 110%;
    line-height: 130%;
}

.device-buttons {
    padding-top: 10px;
}

.device-buttons img {
    width: 150px;
    height: 50px;
    margin-right: 20px;
}



/*
--------------------
--------------------
TESTIMONIALS SECTION
--------------------
--------------------
*/

.section-testimonials {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url("../img/circuit-board-computing-cpu-50711.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../img/circuit-board-computing-cpu-50711.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

blockquote {
    font-size: 110%;
    line-height: 135%;
    margin-top: 20px;
    position: relative;
}

blockquote p {
    display: block;
    min-height: 160px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -8px;
}

blockquote cite img {
    width: 25%;
    height: auto;
    border-radius: 500px;
    margin-right: 15px;
    vertical-align: middle;
}

blockquote cite {
    display: inline-block;
    padding-top: 10px;
    font-size: 90%;
    
}



/*
--------------------
--------------------
PLANS SECTION
--------------------
--------------------
*/

.section-signup {
    background-color: #d6d6d6;
}

.plan-description {
    background-color: #fff;
    margin: 18px 0 18px 10px;
    -webkit-box-shadow: 0 2px 2px #9b9b9b;
    box-shadow: 0 2px 2px #9b9b9b;
    width: 95%;
    border-radius: 5px;
}

.plan-description a {
    display: inline-block;
}

.plan-description .plan-price {
    font-size: 200%;
    color: #2980b9;
}

.plan-description span {
    font-size: 60%;
}


.plan-description ul {
    list-style: none;
    margin: 10px 0;
}

.plan-description li {
    font-size: 100%;
    line-height: 150%;
    
}

.plan-description i {
    color: #2980b9;
    font-size: 90%;
    padding-right: 10px;
}

.plan-description i.ion-close {
    color: #db0606;
}

.plan-description div {
    padding: 15px;
    border-bottom: 2px solid #c9c9c9;
}

.plan-description div:last-child {
    padding: 15px;
    border-bottom: 0px solid #c9c9c9;
}



/*
--------------------
--------------------
FORM SECTION
--------------------
--------------------
*/

.contact-form {
    width: 55%;
    margin: 0 auto;
}



input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 10px;
}

textarea {
    height: 200px;

}

input[type="checkbox"] {
    margin: 5px 5px ;
}

*:focus {
    outline: none;
}


/*
--------------------
--------------------
FOOTER SECTION
--------------------
--------------------
*/

footer {
    background-color: #d6d6d6;
    margin-top: 20px;
}

footer i {
    font-size: 160%;
    color: #535353;
    margin-right: 10px;
    
}

footer li {
    list-style: none;
    display: inline-block;
    font-size: 85%;
}

.footer-nav li {
    margin: 8px 15px 0 0;
}

.social-links {
    text-align: right;
}

footer p {
    font-size: 90%;
    text-align: center;
    margin: 5px 0 15px 0;
}

footer a {
    text-decoration: none;
}


/*
--------------------
--------------------
ANIMATIONS
--------------------
--------------------
*/


.js--waypoint-scroll-animation {
    visibility: hidden;
}

.js--waypoint-scroll-animation.animated{
    visibility: visible;
}


.iPhone-img {
    visibility: hidden;
}

.iPhone-img.animated {
    visibility: visible;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.js--premium-plan {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}